.profile{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-gap: 10px;
    margin-top: 100px;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }

  .intro {
    grid-column: 2/3;
    grid-row: 2/4;
    border: solid black;
    border-radius: 10px;
  }

  .photos {
    grid-column: 2/3;
    grid-row: 4/6;
    border: solid black;
    border-radius: 10px;
  }

  .post {
    grid-column: 3/5;
    grid-row: 2/3;
    border: solid black;
    border-radius: 10px;
  }

  .posts {
    grid-column: 3/5;
    grid-row: 3/6;
    border: solid black;
    border-radius: 10px;
  }