.input {
    margin-top: 50px;
    margin-left: 150px;
    grid-column: 3/5;
    grid-row: 2/3;
}

.body {
    margin-top: 50px;
    margin-left: 150px;
    grid-column: 3/5;
    grid-row: 3/3;
}
.btn{
    margin-top: 20px;
    margin-bottom: 20px;
}
.create{
    width: 500px;
}
.bdyval{
    padding: 5px;
    border: 1px solid black;
    border-radius: 50px;
    width: 500px;
    height: 30px;
    text-align: center;
}
.createbtn{
    margin-left: 10px;
}